// @import("global/variables.less");

// Colors

@basic_green: #68B738;
@basic_green-2: #5EAA2F;
@basic-white: #FFFFFF;
@basic_grey: #F2F2F2;
@special_grey-2: #EBEBEB;
@special_grey: #CDCDCD;
@special_grey-2: #666666;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic-black: #000000;
@status_error: #FF8282;

// Viewports

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;

// @import("global/fonts.less");

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: medium;
  font-display: swap;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

// @import ("global/global.less");

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// @import ("blocks/page.less");

.page {
  height: 100%;
  font-family: "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  min-width: 280px;
  margin: 0;
  background-color: @basic-white;
  color: @special_dark-grey;
}

// @import ("blocks/button.less");

.button {
  display: block;
  padding: 11px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background: @basic_green;
  border: none;
  &:hover {
    background: @basic_green-2;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: @basic_green-2;
  }
}

// @import ("blocks/page-header.less");

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    padding-top: 10px;
    flex-direction: column;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 14px;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 66px;
  width: 24px;
  background: rgba(0, 0, 0, 0);
}

.page-header__toggle--closed span {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
  box-shadow: 0 8px @basic-black, 0 -8px @basic-black;
}

.page-header__toggle--opened span {
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: @basic-black;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__list {
  padding: 0px;
  margin: 0px;
}

// @import ("blocks/site-list.less");

.site-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Oswald", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: @mobile-width-only) {
    padding: 22px;
    border-top: 1px solid @special_grey;
    &:last-child {
      border-bottom: 1px solid @special_grey;
    }
  }
}

.site-list__item a {
  text-decoration: none;
  color: @basic-black;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.site-list__item--active {
  @media (min-width: @tablet-width) {
    
  }
}

// @import ("blocks/page-main.less");

.page-main {
  margin: 0px;
}

// @import ("blocks/promo.less");

.promo__background {
  position: absolute;
  z-index: -1;
  height: 305px;
  width: 100%;
  background: #65A93C url(../img/index-background-mobile@1x.jpg) no-repeat center;
}

.promo__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.promo__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic-white;

  &--small {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.promo__picture {
  margin: auto;
  width: 280px;
  height: 270px;
  padding-bottom: 3px;
}

// @capabilitys ("blocks/capabilitys.less");

.capabilitys {

}
