// @import("global/variables.less");

// Colors

@basic_green: #68B738;
@basic_green-2: #5EAA2F;
@basic_white: #FFFFFF;
@basic_grey: #F2F2F2;
@special_grey-2: #EBEBEB;
@special_grey: #CDCDCD;
@special_grey-2: #666666;
@special_dark-grey: #444444;
@special_dark-grey-2: #222222;
@basic_black: #000000;
@status_error: #FF8282;

// Viewports

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;

// @import("global/fonts.less");

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: medium;
  font-display: swap;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

// @import ("global/global.less");

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// @import ("blocks/page.less");

.page {
  height: 100%;
  font-family: "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  min-width: 280px;
  margin: 0;
  background-color: @basic_white;
  color: @special_dark-grey;
}

// @import ("blocks/button.less");

.button {
  display: block;
  padding: 11px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
  background: @basic_green;
  border: none;
  &:hover {
    background: @basic_green-2;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: @basic_green-2;
  }
}

// @import ("blocks/page-header.less");

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    padding-top: 10px;
    flex-direction: column;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 14px;
  }
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-1 {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-2 {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  &--desktop {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.page-header__toggle {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 66px;
  width: 24px;
  background: rgba(0, 0, 0, 0);
}

.page-header__toggle--closed span {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: @basic_black;
  box-shadow: 0 8px @basic_black, 0 -8px @basic_black;
}

.page-header__toggle--opened span {
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: @basic_black;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__list {
  padding: 0px;
  margin: 0px;
}

// @import ("blocks/site-list.less");

.site-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Oswald", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic_black;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: @mobile-width-only) {
    padding: 22px;
    border-top: 1px solid @special_grey;
    &:last-child {
      border-bottom: 1px solid @special_grey;
    }
  }
}

.site-list__item a {
  text-decoration: none;
  color: @basic_black;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.site-list__item--active {
  @media (min-width: @tablet-width) {

  }
}

// @import ("blocks/page-main.less");

.page-main {
  margin: 0px;
}

// @import ("blocks/promo.less");

.promo__background {
  position: absolute;
  z-index: -1;
  height: 305px;
  width: 100%;
  background: #65A93C url(../img/index-background-mobile@1x.jpg) no-repeat center;

  @media (min-resolution: 2dppx) {
    background: #65A93C url(../img/index-background-mobile@2x.jpg) no-repeat center;
    background-size: auto 100%;
  }

  @media (min-width: @desktop-width) {
    background: url(../img/index-background-desktop@1x.jpg) no-repeat right;

    @media (min-resolution: 2dppx) {
      background: url(../img/index-background-desktop@2x.jpg) no-repeat right;
      background-size: auto 100%;
    }
  }
}

.promo__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.promo__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic_white;

  &--small {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.promo__picture {
  margin: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 3px;

}

// @capabilitys ("blocks/capabilitys.less");

.capabilitys {
}

.capabilitys__item {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  background-color: @basic_grey;
}

.capabilitys__title {
  margin: 7px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic_black;
}

.capabilitys__description {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 23px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special_dark-grey;
  border-bottom: 1px solid @special_grey;
}

.capabilitys__button{
  margin-top: 7px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_black;
}

.capabilitys__picture-conteiner {
  order: -1;
  margin-left: -8px;

  &::before {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-left: 10px;
    border-radius: 60px;
    background: @basic_green-2;
    content: "";
  }
}
.capabilitys__picture {
  position: relative;
  width: 70px;
  height: 50px;
}

// @advantages ("blocks/advantages.less");

.advantages {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 10px;
}

.advantages__header {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}

.advantages__item {
  display: flex;
  margin: 10px 0;
}

.advantages__picture {
  object-fit: cover;
  height: 100%;
  padding: 5px;
  background: @basic_green-2;
}

.advantages__description {
  margin: 0;
  margin-left: 20px;
}

// @example ("blocks/example.less");

.example {
  padding: 20px;
  background: @basic_grey;
}

.example__wrapper {
}

.example__title {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
}

.example__descriotion {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.example__stats {

}

.example__commentar {
  display: block;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_black;
}

.examle__slider {

}

// @stats ("blocks/stats.less");

.stats {
  display: flex;
  justify-content: space-between;
}

.stats__item {
  margin-top: 15px;
  padding-bottom: 20px;
}

.stats__term {
  position: absolute;
  display: flex;
  max-width: 80px;
  margin-top: 47px;
  margin-left: 22px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @special_dark-grey;
  background: @basic_grey;
}

.stats__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 122px;
  min-height: 54px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic_black;
  border: solid 1px @special_grey;
  border-radius: 2px;
}

// @slider ("blocks/slider.less");

.slider {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}

.slider__container {
  align-self: center;
  width: 311px;
  height: 232px;
  background: url(../img/before-mobile@1x.png) no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background: url(../img/before-mobile@2x.png) no-repeat;
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background: url(../img/before-tablet@1x.png) no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/before-tablet@2x.png) no-repeat;
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    background: url(../img/before-desktop@1x.png) no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url(../img/before-desktop@1x.png) no-repeat;
      background-size: cover;
    }
  }

  div {
    box-sizing: border-box;
    height: 100%;
    width: 10%;
    max-width: 99%;
    resize: horizontal;
    overflow: auto;
    position: relative;
    background: @basic_grey url(../img/after-mobile@1x.png) no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: @basic_grey url(../img/after-mobile@2x.png) no-repeat;
      background-size: cover;
    }

    @media (min-width: @tablet-width) {
      background: @basic_grey url(../img/after-tablet@1x.png) no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: @basic_grey url(../img/after-tablet@2x.png) no-repeat;
        background-size: cover;
      }
    }

    @media (min-width: @desktop-width) {
      background: @basic_grey url(../img/after-desktop@1x.png) no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: @basic_grey url(../img/after-desktop@1x.png) no-repeat;
        background-size: cover;
      }
    }
  }
}

.slider__control-bar {
  align-self: center;
}
