// @import("global/variables.less");

// Colors

// Viewports

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;

// @import("global/fonts.less");

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: medium;
  font-display: swap;
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

// @import ("global/global.less");

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// @import ("blocks/page.less");

.page {
  height: 100%;
  font-family: "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  min-height: 100%;
  min-width: 280px;
  margin: 0;
  background-color: #FFFFFF;
  color: #444444;
}

// @import ("blocks/page-header.less");

.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Oswald", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;

  @media (max-width: @mobile-width-only) {
    padding-top: 10px;
    flex-direction: column;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6E6;
  }
}

.page-header__logo {
}

.page-header__toggle {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 66px;
  width: 24px;
  background: rgba(0, 0, 0, 0);
}

.page-header__toggle > span,
.page-header__toggle > span::before,
.page-header__toggle > span::after {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.page-header__toggle > span::before {
  content: '';
  top: -8px;
}
.page-header__toggle > span::after {
  content: '';
  top: 8px;
}

.page-header__toggle:active > span {
  transform: rotate(45deg);
}
.page-header__toggle:active > span::before {
  top: 0;
  transform: rotate(0);
}
.page-header__toggle:active > span::after {
  top: 0;
  transform: rotate(90deg);
}


.page-header__list {
  padding: 0px;
  margin: 0px;
}

// @import ("blocks/page-main.less");

.page-main {
  margin: 0px;
}

.page-main__wrapper {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.page-main__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  &--small {
    font-size: 14px;
    line-height: 14px;
  }
}

// @import ("blocks/site-list.less");

.site-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  height: 100%;

  @media (max-width: @mobile-width-only) {
    padding: 22px;
    border-bottom: 1px solid #E6E6E6;
  }
}
